body {
    font-family: Arial, sans-serif;
    background-image: 
        linear-gradient(
            rgba(0, 49, 0, 0.604)
        ),
        url(/Frontend/images/bandera.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}

@keyframes movimiento {
    from {
        transform: translatey(10%);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

.fondoCerrarSesion{
    animation: movimiento 0.5s ease-out;
}

.fondoCerrarSesion {
    display: none;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cerrarSesion{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boton1cerrarSesion {
    background-color: #138035;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.boton1cerrarSesion:hover {
    background-color: #0d6829;
    transform: translateY(-2px); 
}

.boton2cerrarSesion {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.boton2cerrarSesion:hover {
    background-color: #c5c5c5;
    transform: translateY(-2px); 
}

.imgCerrarSesion{
    width: 100px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}